body{
    background-image: url(2b31f3a083244a21b58cecaa1a258e2c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin :0;
}
#clock-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    color: aliceblue;
    backdrop-filter: blur;
    
    
}
